*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    max-width: 880px;
    margin: 0 auto;
}

div{
    padding: 20px;
}

h2{
    padding: 10px 0;
}

p{
    padding: 8px 0;
}

.holder{
    max-width: 90%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

